<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voitures</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<section>

ajout voiture:
<form method=post action=/modifvoitures>

   
<input id=r._id type="text" placeholder=r.nom></input>
marque:
<select name="marque">
<% resultatmarque.forEach( (r)=> { %>
 <option id=r.id_marque> <%=r.nom %>            </option>
     <% }); %>
</select><br>

énergie:
<select name="energie">

<% resultatenergie.forEach( (r)=> { %>
<option id=r.id_energie><%=r.carburant %>
</option>
 <% }); %>

</select><br>

boite de vitesse:

<select name="boite">

<% resultatboite.forEach( (r)=> { %>
<option id=r.id_boite><%=r.type %>
</option>
 <% }); %>

</select>

<input type="text" class="voiture" name="nom" placeholder="<%= r.nom %>">
                   
<input type="submit" value="enregistrer"
</input>       
 </section>

    <script>
      
     axios.get("/marquesvoiture).then(response => { 
     résultatmarque= response.data 
                    })       
       
axios.get("/energievoiture).then(response => { 
     résultatenergie= response.data 
                    })       
       
axios.get("/boitesvoiture).then(response => { 
     résultatboite= response.data 
                    })       
       
        
    </script>

</body>
</html>